---
import Layout from '@layouts/Layout.astro';
---

<Layout>

  <script>
    const bird_names = [
      "Berguv",
      "Björktrast",
      "Blåmes",
      "Bofink",
      "Domherre",
      "Drillsnäppa",
      "Enkelbeckasin",
      "Entita",
      "Fasan",
      "Gransångare",
      "Gräshoppsångare",
      "Gråsparv",
      "Grönbena",
      "Grönfink",
      "Gröngöling",
      "Grönsångare",
      "Gulsparv",
      "Gärdsmyg",
      "Gök",
      "Hämpling",
      "Kattuggla",
      "Koltrast",
      "Korp",
      "Lövsångare",
      "Mindre hackspett",
      "Morkulla",
      "Näktergal",
      "Nötväcka",
      "Ormvråk",
      "Ringduva",
      "Rosenfink",
      "Rödbena",
      "Rödhake",
      "Rödstjärt",
      "Rödvingetrast",
      "Rördrom",
      "Rörsångare",
      "Skogsduva",
      "Skäggdopping",
      "Sommargylling",
      "Sothöna",
      "Spillkråka",
      "Stare",
      "Steglits",
      "Storspov",
      "Större hackspett",
      "Svart-vit flugsnappare",
      "Svarthätta",
      "Svartmes",
      "Sävsparv",
      "Sävsångare",
      "Sånglärka",
      "Sångsvan",
      "Talgoxe",
      "Talltita",
      "Taltrast",
      "Tofsvipa",
      "Trana",
      "Trädkrypare",
      "Trädpiplärka",
      "Turkduva",
      "Törnsångare",
      "Vattenrall",
      "Ängspiplärka",
      "Ärtsångare"
  ]

  const bird_sound_paths = bird_names.map(name => `http://localhost:4321/sounds/${name}.mp3`);

  function loadAudio() {
    const audio = document.getElementById("audio") as HTMLAudioElement;
    const audio_source = document.getElementById("audio-source");

    if (audio && audio_source) {
      audio_source.setAttribute('src', bird_sound_paths[1]);
      audio.load();
    }
  }

  loadAudio()
    

  </script>

	<main class="margin-inline-100 flex align-items-center justify-content-center" style="height: 100dvh;">
    <container-text style="width: min(60ch, 100%);">
       <flex class="justify-content-center">
        <audio controls id="audio" class="flex-grow-100">
            
          <source type="audio/mp3" id="audio-source">
        </audio>
      </flex>

      <flex class="align-items-flex-end gap-25">
        <label class="font-weight-500 block margin-top-300 flex-grow-100">
          Vilken fågel hörde du?
          <input type="text" class="block margin-top-25"  />
        </label>
        <button class="font-weight-500" id="guess-button">Gissa</button>  
      </flex>

      <flex class="flex justify-content-space-between margin-top-100 align-items-center" id="amount-correct">
        <small>0 / 65</small>
        <flex class="gap-100 align-items-center">
          <small>Antal rätt: 0 / 65</small>
          <button class="font-weight-500 flex align-items-center gap-25 padding-inline-100" style="border-radius: 9999px;" disabled id="next-button">
            Nästa
            <img src="arrow-right.svg" width="20" height="20" alt="" />
          </button>
        </flex>
      </flex>

    </container-text>
	</main>
</Layout>

<style>

</style>